<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530698299938-m5gf2vonj8kv8imvludpt5005d1be8g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530698299938-m5gf2vonj8kv8imvludpt5005d1be8g7</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwvEJQ-0bOXJmkKW0iHkMk1MmAoD-W2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>530698299938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amunselect.thansohocungdung.thansohocungdung.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>thansohocungdung-1e2c5</string>
	<key>STORAGE_BUCKET</key>
	<string>thansohocungdung-1e2c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530698299938:ios:5f94b3b14f741d1159b87b</string>
</dict>
</plist>